<h1>About Me</h1>
<p> My experience growing up was unlike that of all my peers. I was raised in a National Recreation area, or the forest, where I quickly learned the value of hard work by completing tasks no matter how unglamorous they were. I was taught how to be industrious at problem solving and attained a skill set that I am able to use currently in my personal and professional life in San Francisco.</p>

<p>When I left Northern California for college the bright lights of San Francisco attracted me immensely and I ultimately chose the University of San Francisco, for their Jesuit emphasis on education and the concurrent experiences of being in a metropolis. I studied politics in my undergrad because I was interested in political structures and how the human psyche is influenced, and manipulated, by public figures. I learned a valuable skill set in organizational structure, as well as interpersonal communication/interaction skills.</p> 

<p>Immediately after graduation I was hired by my alma mater to spearhead the largest alumni outreach effort ever undertaken in the university's 153-year history. I traveled across the country conducting interviews with alumni to understand their familiarity with today's university, as well as assess their philanthropic potential as a possible donor.</p>

<p>Upon the completion of this contracted position, I was hired as an admission counselor to manage the recruitment of prospective students in a region spanning more than 17 states. With this position I was also charged with running all social media communications, updating marketing materials, and involving alumni in the process.</p>
