<div class="jumbotron">
	<h1>This is Home</h1>
	<p>I want to make this look fancy but I can't figure out <%= link_to "how", "http://www.netanimations.net/Animated-gif-spinning-question-mark-picture-moving.gif", class: "btn btn-primary btn-lg" %>!</p>
	<p> How does this <span class="glyphicon glyphicon-tree-conifer"></span> look?
</div>