$body-bg:  #1abc9c;
$navbar-default-bg:  #8e44ad;
$navbar-default-link-color:  #ecf0f1;
$jumbotron-bg:  #f1c40f;
$headings-color: #c0392b;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif; 

@import 'bootstrap';